{% extends "user/template_user.html" %}
{% block title %}Profil{% endblock %}
{% block extra_style %}
<style>
        #main_content{
            display: flex;
            flex-direction: column;
            flex-grow: 1;
            background-color: #222121;
            border-radius: 5px;
            padding: 10px 10px;
        }
        #upper-bar{
            width: 100%;
            height: 8%;
            padding: 10px;
            padding-bottom: 20px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            border-bottom: 1px solid #8a8a8a;
            p{
                font-weight: 500;
                font-size: 1.2rem;
            }
        }
        #content{
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: row;
            gap: 20px;
        }
        #left-side{
            width: 50%;
            height: 100%;
            display: flex;
            flex-direction: column;
            gap: 20px;
            border-right: 1px solid #8a8a8a;
            padding: 10px;
        }
        #user-info{
            width: 100%;
            margin-top: 20px;
            height: auto;
            display: flex;
            gap: 20px;
            align-items: center;
            img{
                width: 100px;
                height: auto;
            }
            h2{
                font-weight: 500;
            }
        }
        #right-side{
            width: 50%;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 30px;
            gap: 30px;
            h1{
                font-weight: 600;
            }
        }
        .chart{
            margin-top: 30px;
            width: 100%;
            height: 100%;
            background-color: #333333;
            border-radius: 10px;
            padding: 20px;
        }
        .header{
            display: flex;
            justify-content: space-between;
        }
        .title{
            display: flex;
            align-items: center;
            gap: 10px;
            p{
                font-size: 1.25rem;
                font-weight: 700;
            }
            svg{
                height: 1.5rem;
            }
        }
        .title-leader{
            display: flex;
            align-items: center;
            gap: 10px;
        }
        .refresh{
            display: flex;
            align-items: center;
            gap: 10px;
            background-color: #5a5959;
            border-radius: 5px;
            padding: 5px;
            p{
                font-size: 1rem;
            }
            button{
                background-color: transparent;
                border: none;
                color: #ffffff;
                cursor: pointer;
                transition: transform 1s ease-in-out;
            }
            img{
                height: 1.25rem;
            }
        }
        .click {
            animation: rotateClockwise 1s linear;
        }
        @keyframes rotateClockwise {
            0% {
                transform: rotate(0deg); 
            }
            100% {
                transform: rotate(360deg);
            }
        }
        #myChart{
            margin-top: 30px;
            width: 100% !important; 
        }
        @media (max-width: 768px) {
            #content{
                flex-direction: column;
            }
            #left-side{
                width: 100%;
                height: auto;
                border-right: none;
                border-bottom: 1px solid #8a8a8a;
            }
            #right-side{
                width: 100%;
                height: auto;
            }

        }
        #point{
            background-color: #393a3b;
            border-radius: 8px;
            border: 1px solid #e9b149;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 5px;
            gap: 8px;
            color: #e9b149;
            p{
                font-size: 16px;
            }
        }
        .leaderboard{
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 10px;
        }
        .users-rank{
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 10px;
            border-radius: 10px;
        }
        .users-rank:hover{
            background-color: #393a3b;
        }
        .left-box{
            display: flex;
            align-items: center;
            gap: 10px;
            img{
                width: 3.5rem;
                height: auto;
            }
            p{
                font-weight: bold;
                font-size: 1.5rem;
            }
        }
        .right-box{
            p{
                font-weight: bold;
                font-size: 1rem;
            }
        }
        .rank{
            color: #2e5ecf;
            font-size: 3rem;
            margin:0 22px;
        }
        #user_rank{
            background-color: #233663;
        }
        #no-data-message {
            position: absolute;  
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 18px;
        }
        .chart-box{
            position: relative;
            padding: 20px 10px;
        }
</style>
{% endblock %}
{% block main_content %}
    <div id="main_content">
        <div id="upper-bar">
            <p>My Profile</p>
            <div id="point">
                <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#e9b149"><path d="m354-287 126-76 126 77-33-144 111-96-146-13-58-136-58 135-146 13 111 97-33 143ZM233-120l65-281L80-590l288-25 112-265 112 265 288 25-218 189 65 281-247-149-247 149Zm247-350Z"/></svg>
                <p>
                    {{user_point}}
                </p>
            </div>
        </div>
        <div id="content">
            <div id="left-side">
                <div id="user-info">
                    <img src="{{ url_for('static', filename=user.photo) }}" alt="profil picture">
                    <div id="user-info-detail">
                        <h2>Username</h2>
                        <p>(sekolah)</p>
                    </div>    
                </div>
                <div class="chart">
                    <div class="header">
                        <div class="title">
                            <svg viewBox="0 0 24 24" fill="none" focusable="false" class="chakra-icon css-1ouhgs0"><path d="M21 21H4.6c-.56 0-.84 0-1.054-.109a1 1 0 01-.437-.437C3 20.24 3 19.96 3 19.4V3m18 4l-5.434 5.434c-.198.198-.297.297-.412.334a.499.499 0 01-.309 0c-.114-.037-.213-.136-.41-.334l-1.87-1.868c-.197-.198-.296-.297-.41-.334a.499.499 0 00-.31 0c-.114.037-.213.136-.41.334L7 15m14-8h-4m4 0v4" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path></svg>
                            <p>Point Statistics</p>
                        </div>
                        <div class="refresh">
                            <p>Refresh</p>
                            <button onclick="refresh(this)">
                                <img src="{{ url_for('static', filename='img/dash/refresh.png') }}">
                            </button>
                        </div>
                    </div>
                    <div class="chart-box">
                        <canvas id="myChart"></canvas>
                        <p id="no-data-message" style="visibility: hidden;">No data available.</p>
                    </div>
                </div>
            </div>
            <div id="right-side">
                <div class="title-leader">
                    <svg xmlns="http://www.w3.org/2000/svg" height="2rem" viewBox="0 -960 960 960" width="2rem" fill="#e8eaed"><path d="M160-200h160v-320H160v320Zm240 0h160v-560H400v560Zm240 0h160v-240H640v240ZM80-120v-480h240v-240h320v320h240v400H80Z"/></svg>
                    <h1>LEADERBOARD</h1>
                </div>
                <div class="leaderboard">
                    {% for user_points in users_points %}
                    <div class="users-rank" id="{% if user_points[1] == user.username %}user_rank{%endif%}">
                        <div class="left-box">
                            {% if user_points[0] <= 3 %}
                            <img src="{{ url_for('static', filename= 'img/top' ~ user_points[0] ~ '.svg') }}">
                            {% else %}
                            <p class="rank">{{user_points[0]}}</p> 
                            {% endif %}
                            <img src="{{ url_for('static', filename=user_points[3]) }}"
                            <p>{{user_points[1]}}</p>
                        </div>
                        <div class="right-box">
                            <p>{{user_points[2]}}</p>
                        </div>
                    </div>
                     {% endfor %}
                </div>
            </div>
        </div>
        <div id="user-activity"></div>
    </div>
{% endblock %}
{% block extra_script %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels"></script>
<script>
    const ctx = document.getElementById('myChart').getContext('2d');
    const myChart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: [], 
            datasets: [
            {
                label: 'Points',
                data: [], 
                backgroundColor:'#ff1616',
                barThickness: 40,
            }
        ]
        },
        options: {
            responsive: true,
            layout:{
                padding:{
                    top: 10,
                    left: 10,
                    right: 10,
                    bottom: 30,
                }
            },
            plugins: {
                datalabels:{
                    color: 'white',
                    font: {
                        weight: 'bold',
                        size: 14,
                    },
                    anchor:'end',
                    align: 'end',
                    offset: 2,
                    clip: true,
                    padding:{
                        top: 10,
                    },
                    formatter: (value) =>
                        value.toLocaleString('id-ID'),
                },
                legend :{
                    display: false,
                }
            },
            scales: {
                x: {
                    display: true,
                    ticks: {
                        color: 'white',
                        font: {
                            weight: 'bold',
                            size: 14,
                        },
                        padding: 10,
                        callback: function(value) {
                            const date = new Date(value); 
                            return date.toLocaleDateString('id-ID', { day: 'numeric', month: 'long' }); 
                        }
                    },
                    grid: {
                        display: false
                    },
                },
                y: {
                    display:false,
                    beginAtZero: true,
                    suggestedMin: 0,
                }
            }
        },
        plugins: [ChartDataLabels],
    });

    function update_data(){
        fetch('{{ url_for('views.profile') }}', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify('okay')
        }).then(response => response.json()).then(data => {
            if(data.length == 0){
                document.getElementById('no-data-message').style.visibility = 'visible';
                document.getElementById('myChart').style.visibility = 'hidden';
            } else{
                document.getElementById('no-data-message').style.visibility = 'hidden';
                document.getElementById('myChart').style.visibility = 'visible';
                myChart.data.labels = data.map(item => item[0]);
                const value = data.map(item => item[1])
                myChart.data.datasets[0].data = value;
                let MaxValue = Math.max(...value)
                let suggestedMax = MaxValue + (MaxValue * 0.3);
                myChart.options.scales.y.suggestedMax = suggestedMax; 
                myChart.update();
            }
        });
    }

    window.onload = function() {
        update_data();
    };
    function refresh(button){
        update_data();
        const image = button.querySelector('img');
        image.classList.remove('click');
        void image.offsetWidth;
        image.classList.add('click');
    }
</script>
{% endblock %}